:host {
  display: block;
  padding-top: 20px;

  .spacer {
    flex: 1 1 auto;
  }

  .contact {
    font-size: 14px;
  }
}

body.ember-dark-theme :host {
  background-color: #303030;
  color: white;
}
