<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>lightbulb</mat-icon></div>
    <mat-card-title>Your Idea</mat-card-title>
    <mat-card-subtitle>Your need or problem</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Contact us with your idea, needs, or problem to solve. We'll brainstorm together on potential solutions together.
      No more generic solutions that don't quite fit.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>build</mat-icon></div>
    <mat-card-title>Build</mat-card-title>
    <mat-card-subtitle>Tailored Software</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Create a plan together and build software to your needs and specifications. Communication every step of the way.
      No more radio silence for weeks.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>groups</mat-icon></div>
    <mat-card-title>Lasting Relationship</mat-card-title>
    <mat-card-subtitle>Continued Support</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Build a lasting relationship to continue to improve your business. Have another idea? Have more needs? No more
      dumping software and leaving you to figure it out.
    </p>
  </mat-card-content>
</mat-card>
