@use "@angular/material" as mat;
@include mat.core();

// Available color palettes: https://material.io/design/color/

//Dark Theme
$frontend-dark-primary: mat.define-palette(mat.$orange-palette, A400, A200, A700);
$frontend-dark-accent: mat.define-palette(mat.$yellow-palette, A400, A200, A700);
$frontend-dark-warn: mat.define-palette(mat.$deep-orange-palette, A400, A200, A700);

$ember-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $frontend-dark-primary,
      accent: $frontend-dark-accent,
      warn: $frontend-dark-warn
    )
  )
);

//Light Theme
$frontend-primary: mat.define-palette(mat.$orange-palette, 400, 200, 600);
$frontend-accent: mat.define-palette(mat.$yellow-palette, 400, 200, 600);
$frontend-warn: mat.define-palette(mat.$deep-orange-palette, 400, 200, 600);

$ember-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn
    )
  )
);

.ember-dark-theme {
  @include mat.all-component-themes($ember-dark-theme);

  a[mat-list-item].active,
  a[mat-list-item].active:focus {
    background: mat.get-color-from-palette($frontend-dark-primary, "default");
    color: mat.get-color-from-palette($frontend-dark-primary, "default-contrast");
    border-radius: 10px;

    &:hover {
      background: mat.get-color-from-palette($frontend-dark-accent, "default");
      color: mat.get-color-from-palette($frontend-dark-accent, "default-contrast");
    }
  }
}

.ember-light-theme {
  @include mat.all-component-themes($ember-light-theme);

  a[mat-list-item].active,
  a[mat-list-item].active:focus {
    background: mat.get-color-from-palette($frontend-primary, "default");
    color: mat.get-color-from-palette($frontend-primary, "default-contrast");
    border-radius: 10px;

    &:hover {
      background: mat.get-color-from-palette($frontend-dark-accent, "default");
      color: mat.get-color-from-palette($frontend-dark-accent, "default-contrast");
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
